folium==0.14.0
streamlit-folium==0.13.0
numpy==1.22.0  # Downgrade numpy to avoid numpy.bool8 issue
requests==2.26.0
openai==0.27.0
streamlit>=1.15.0
plotly==5.3.1
pandas==1.5.3  # Add pandas to meet Plotly's requirement
